doctype html
head
    meta(charset="UTF-8")
    title Компьютерная графика. Лабораторная работа №1
    link(rel="stylesheet" href="/public/styles/w3.css")
    link(rel="stylesheet" href="/public/styles/w3-colors-2021.css")
    script(type="text/javascript" src="/public/scripts/third-party/jquery-3.7.1.min.js")
    script(type="module").
        import { onPageLoad, changeAccordionVisibility, createSceneObject, clearSceneObjects, onParametersChanged } from "/public/scripts/page.js";
        window.onPageLoad = onPageLoad;
        window.changeAccordionVisibility = changeAccordionVisibility;
        window.createSceneObject = createSceneObject;
        window.clearSceneObjects = clearSceneObjects;
        window.onParametersChanged = onParametersChanged;

body.w3-2021-inkwell(onload="onPageLoad()")
    canvas#canvas.w3-left.w3-margin.w3-border.w3-border-blue(style="background-color: black;", width="800", height="800") Ваш браузер не поддерживает элемент 'canvas'.
    div.w3-left.w3-margin.w3-padding.w3-border.w3-border-white(style="width: 500px;")
        div.w3-xlarge.w3-margin-bottom Объекты
        div.w3-margin-bottom.w3-center
            button.w3-button.w3-border.w3-border-white.w3-margin-right(onclick="createSceneObject('cube')") Создать куб
            button.w3-button.w3-border.w3-border-white.w3-margin-right(onclick="createSceneObject('sphere')") Создать сферу
            button.w3-button.w3-border.w3-border-white(onclick="createSceneObject('sdr')") Создать СДР
            div.w3-margin-bottom
            button.w3-button.w3-border.w3-border-white(onclick="clearSceneObjects()") Удалить все
        div#objects
    div.w3-left.w3-margin.w3-padding.w3-border.w3-border-white(style="width: 450px;")
        div.w3-xlarge.w3-margin-bottom Специальные настройки
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Камера
            div.w3-margin-top
                div
                    label.w3-left Положение (X=
                        span#output-x-camera
                        label ,&nbsp;
                        span#output-y-camera
                        label ,&nbsp;
                        span#output-z-camera
                        label )
                br
                div
                    label.w3-left Поворот (X=
                        span#output-x-rotation-camera
                        label ,&nbsp;
                        span#output-y-rotation-camera
                        label ,&nbsp;
                        span#output-z-rotation-camera
                        label )
                br
                div
                    label.w3-left(for="input-fov-camera") Вертикальный FOV (F=
                        span#output-fov-camera
                        label ):
                    input#input-fov-camera.w3-right(type="range" min="1" max="120" step="1" value="60" style="width: 150px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    span.w3-left Тип проекции:
                    br
                    div.w3-right.w3-margin-right
                        label(for="pers-projection") Перспективная проекция&nbsp;&nbsp;&nbsp;
                        input#pers-projection(type="radio" name="projection" value="pers" checked oninput="onParametersChanged()")
                    br
                    div.w3-right.w3-margin-right
                        label(for="orth-projection") Ортогональная проекция&nbsp;&nbsp;&nbsp;
                        input#orth-projection(type="radio" name="projection" value="orth" oninput="onParametersChanged()")
                br
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Материал
            div.w3-margin-top.w3-margin-bottom
                div
                    label.w3-left(for="input-shininess") Shininess (S=
                        span#output-shininess
                        label ):
                    input#input-shininess.w3-right(type="range" min="1" max="1000" step="1" value="100" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Точечный свет
            div.w3-margin-top
                div
                    label.w3-left(for="input-x-point-light") Положение (X=
                        span#output-x-point-light
                        label )
                    input#input-x-point-light.w3-right(type="range" min="-10" max="10" step="0.1" value="-5" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-y-point-light") Положение (Y=
                        span#output-y-point-light
                        label )
                    input#input-y-point-light.w3-right(type="range" min="-10" max="10" step="0.1" value="5" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-z-point-light") Положение (Z=
                        span#output-z-point-light
                        label )
                    input#input-z-point-light.w3-right(type="range" min="-10" max="10" step="0.1" value="5" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-diffuse-point-light") Диффузный свет
                    input#input-diffuse-point-light.w3-right(type="color" value="#FFFFFF" style="width: 200px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-ambient-point-light") Фоновый свет
                    input#input-ambient-point-light.w3-right(type="color" value="#000000" style="width: 200px;" oninput="onParametersChanged()")
                br
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Направленный свет
            div.w3-margin-top
                div
                    label.w3-left(for="input-x-directional-light") Направление (X=
                        span#output-x-directional-light
                        label )
                    input#input-x-directional-light.w3-right(type="range" min="-10" max="10" step="0.1" value="5" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-y-directional-light") Направление (Y=
                        span#output-y-directional-light
                        label )
                    input#input-y-directional-light.w3-right(type="range" min="-10" max="10" step="0.1" value="5" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-z-directional-light") Направление (Z=
                        span#output-z-directional-light
                        label )
                    input#input-z-directional-light.w3-right(type="range" min="-10" max="10" step="0.1" value="5" style="width: 200px; margin-top: 4px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-diffuse-directional-light") Диффузный свет
                    input#input-diffuse-directional-light.w3-right(type="color" value="#000000" style="width: 200px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-ambient-directional-light") Фоновый свет
                    input#input-ambient-directional-light.w3-right(type="color" value="#000000" style="width: 200px;" oninput="onParametersChanged()")
                br
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Настройки рендеринга
            div.w3-margin-top
                div
                    label(for="draw-light") Включить свет&nbsp;&nbsp;&nbsp;
                    input#draw-light(type="checkbox" checked onInput="onParametersChanged()")
                    br
                    label(for="draw-polygons") Рисовать грани треугольников&nbsp;&nbsp;&nbsp;
                    input#draw-polygons(type="checkbox" checked onInput="onParametersChanged()")
                    br
                    label(for="draw-edges") Рисовать ребра треугольников&nbsp;&nbsp;&nbsp;
                    input#draw-edges(type="checkbox" onInput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-edge-color") Цвет ребер
                    input#input-edge-color.w3-right(type="color" value="#FFFFFF" style="width: 200px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-background-color") Цвет фона
                    input#input-background-color.w3-right(type="color" value="#000000" style="width: 200px;" oninput="onParametersChanged()")
                br
