doctype html
head
    meta(charset="UTF-8")
    title Компьютерная графика. Лабораторная работа №1
    link(rel="stylesheet" href="/public/styles/w3.css")
    link(rel="stylesheet" href="/public/styles/w3-colors-2021.css")
    script(type="text/javascript" src="/public/scripts/third-party/jquery-3.7.1.min.js")
    script(type="module").
        import { onPageLoad, changeAccordionVisibility, createSceneObject, clearSceneObjects, onParametersChanged } from "/public/scripts/page.js";
        window.onPageLoad = onPageLoad;
        window.changeAccordionVisibility = changeAccordionVisibility;
        window.createSceneObject = createSceneObject;
        window.clearSceneObjects = clearSceneObjects;
        window.onParametersChanged = onParametersChanged;

body.w3-2021-inkwell(onload="onPageLoad()")
    canvas#canvas.w3-left.w3-margin.w3-border.w3-border-blue(width="800", height="800") Ваш браузер не поддерживает элемент 'canvas'.
    div.w3-left.w3-margin.w3-padding.w3-border.w3-border-white(style="width: 500px;")
        div.w3-xlarge.w3-margin-bottom Объекты
        div.w3-margin-bottom.w3-center
            button.w3-button.w3-border.w3-border-white.w3-margin-right(onclick="createSceneObject('cube')") Создать куб
            button.w3-button.w3-border.w3-border-white.w3-margin-right(onclick="createSceneObject('sphere')") Создать сферу
            button.w3-button.w3-border.w3-border-white(onclick="clearSceneObjects()") Удалить все
        div#objects
    div.w3-left.w3-margin.w3-padding.w3-border.w3-border-white(style="width: 500px;")
        div.w3-xlarge.w3-margin-bottom Специальные настройки
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Камера
            div.w3-margin-top
                div
                    label.w3-left(for="input-x-camera") Положение (X=
                        span#output-x-camera
                        label )
                    input#input-x-camera.w3-right(type="range" min="-10" max="10" step="0.1" value="-10" style="width: 200px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-y-camera") Положение (Y=
                        span#output-y-camera
                        label )
                    input#input-y-camera.w3-right(type="range" min="-10" max="10" step="0.1" value="0" style="width: 200px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-z-camera") Положение (Z=
                        span#output-z-camera
                        label )
                    input#input-z-camera.w3-right(type="range" min="-10" max="10" step="0.1" value="0" style="width: 200px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-x-rotation-camera") Поворот (X=
                        span#output-x-rotation-camera
                        label )
                    input#input-x-rotation-camera.w3-right(type="range" min="0" max="360" step="1" value="0" style="width: 200px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-y-rotation-camera") Поворот (Y=
                        span#output-y-rotation-camera
                        label )
                    input#input-y-rotation-camera.w3-right(type="range" min="0" max="360" step="1" value="0" style="width: 200px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-z-rotation-camera") Поворот (Z=
                        span#output-z-rotation-camera
                        label )
                    input#input-z-rotation-camera.w3-right(type="range" min="0" max="360" step="1" value="0" style="width: 200px;" oninput="onParametersChanged()")
                br
                div
                    label.w3-left(for="input-fov-camera") Вертикальный FOV (F=
                        span#output-fov-camera
                        label )
                    input#input-fov-camera.w3-right(type="range" min="1" max="120" step="1" value="60" style="width: 200px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    span.w3-left Тип проекции
                    br
                    div.w3-right.w3-margin-right
                        label(for="pers-projection") Перспективная проекция&nbsp;&nbsp;&nbsp;
                        input#pers-projection(type="radio" name="projection" value="pers" checked oninput="onParametersChanged()")
                    br
                    div.w3-right.w3-margin-right
                        label(for="orth-projection") Ортогональная проекция&nbsp;&nbsp;&nbsp;
                        input#orth-projection(type="radio" name="projection" value="orth" oninput="onParametersChanged()")
                br
        div.w3-padding.w3-margin-bottom.w3-border.w3-border-white
            div.w3-large Настройки рендеринга
            div.w3-margin-top
                div
                    label(for="draw-polygons") Рисовать грани треугольников&nbsp;&nbsp;&nbsp;
                    input#draw-polygons(type="checkbox" checked onInput="onParametersChanged()")
                    br
                    label(for="draw-edges") Рисовать ребра треугольников&nbsp;&nbsp;&nbsp;
                    input#draw-edges(type="checkbox" onInput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-edge-color") Цвет ребер
                    input#input-edge-color.w3-right(type="color" value="#000000" style="width: 200px;" oninput="onParametersChanged()")
                br
                div.w3-margin-bottom
                    label.w3-left(for="input-background-color") Цвет фона
                    input#input-background-color.w3-right(type="color" value="#000000" style="width: 200px;" oninput="onParametersChanged()")
                br
